<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <title>QCPP Quality Report</title>
 <script type="text/javascript">{{ include_file('resources/jquery.min.js') }}</script>
 <script type="text/javascript">{{ include_file('resources/bootstrap.min.js') }}</script>
 <style>{{ include_file('resources/bootstrap.min.css') }}</style>
 <style>{{ include_file('resources/qcpp.css') }}</style>
</head>
<body role="document">
 <div id="wrapper">
  <div id="sidebar-wrapper">
   <ul class="sidebar-nav">
    <li class="sidebar-brand"><a href="#">QCPP Report</a></li>
    {% for name in report_names %}
     <li><a href="#comp_{{ loop.index }}">{{ name }}</a></li>
    {% endfor %}
   </ul>
  </div>
  <div id="page-content-wrapper">
   <div class="container-fluid">
    {% for r_type, r_name, r_div in reports %}
     <div class="row" id="comp_{{ loop.index }}">
      <div class="page-header">
       <h3>{{r_type}}: {{r_name}}</h3>
      </div>
      {{ r_div }}
     </div>
    {% endfor %}
   </div>
  </div>
 </div>
</body>
</html>
